# LIST

In [8]:
lst = ["Ram", 10, 100, 5.5, [1, 2, 3]] #List Created
lst

['Ram', 10, 100, 5.5, [1, 2, 3]]

In [2]:
lst.append("Ace") #List Appended
lst

['Ram', 10, 100, 5.5, [1, 2, 3], 'Ace']

In [3]:
lst.insert(1, "Apple") #List Inserting
lst

['Ram', 'Apple', 10, 100, 5.5, [1, 2, 3], 'Ace']

In [4]:
lst.remove("Apple") #List Removing an Element
lst

['Ram', 10, 100, 5.5, [1, 2, 3], 'Ace']

In [5]:
lst.pop(2) #List Popping an Element
lst

['Ram', 10, 5.5, [1, 2, 3], 'Ace']

In [6]:
print (lst.count("Ram")) #For counting an element number of time occured

1

In [7]:
lst = ["Ram", 10, 100, 5.5, [1, 2, 3]] #For reversing 
lst.reverse()
print(lst)

[[1, 2, 3], 5.5, 100, 10, 'Ram']

# DICTIONARY

In [10]:
dit = {"Name":"Ram", "Age":"20", 
       "Number":123456, "Email":"abc@gmail.com"} #DICTIONARY Created
dit

{'Name': 'Ram', 'Age': '20', 'Number': 123456, 'Email': 'abc@gmail.com'}

In [11]:
dit.get("Name") #Get function

'Ram'

In [12]:
dit.items() #Items used for the particular DICTIONARY

dict_items([('Name', 'Ram'), ('Age', '20'), ('Number', 123456), ('Email', 'abc@gmail.com')])

In [13]:
dit.keys() #Keys used for the particular DICTIONARY

dict_keys(['Name', 'Age', 'Number', 'Email'])

In [14]:
dit.pop("Name") #Popoing out an element

'Ram'

In [15]:
dit

{'Age': '20', 'Number': 123456, 'Email': 'abc@gmail.com'}

In [16]:
dit["Name"] = "Ram" #Adding an element 
dit

{'Age': '20', 'Number': 123456, 'Email': 'abc@gmail.com', 'Name': 'Ram'}

In [17]:
dit["Age"] = 21 #Updating an element 
dit

{'Age': 21, 'Number': 123456, 'Email': 'abc@gmail.com', 'Name': 'Ram'}

# SET

In [18]:
st = {"Ram", "letsupgrade", 1,2,3,4,4,4,5,6,6} #Set Created 
st

{1, 2, 3, 4, 5, 6, 'Ram', 'letsupgrade'}

In [20]:
st1 = {"Ram", 1} #issubset Function
st1.issubset(st)

True

In [21]:
st.add("Ace") #Adding an element into sets 
st

{1, 2, 3, 4, 5, 6, 'Ace', 'Ram', 'letsupgrade'}

In [22]:
st.remove("Ace") #Removing an element into sets 
st

{1, 2, 3, 4, 5, 6, 'Ram', 'letsupgrade'}

In [23]:
st.difference(st and st1) #Set difference

{2, 3, 4, 5, 6, 'letsupgrade'}

In [24]:
st.union(st and st1) #Set Union

{1, 2, 3, 4, 5, 6, 'Ram', 'letsupgrade'}

In [25]:
st.intersection(st and st1) #Set intersection

{1, 'Ram'}

# TUPLES

In [32]:
tup = ("Ram", "@", "gmail.com") #Tuple created 
tup

('Ram', '@', 'gmail.com')

In [27]:
tup.count("@") #Count

1

In [33]:
tup.index("gmail.com") #Index

2

# String

In [34]:
txt = "hello, and welcome to my world." #String Created
txt

'hello, and welcome to my world.'

In [35]:
txt = "hello, and welcome to my world." #Capitalization 
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

In [37]:
txt = "Ace" #Centering or gives space
x = txt.center(20)
print(x)

        Ace

In [38]:
txt = "hello, and welcome to my world." #Return the number of times the value "welcome" appears in the string:
x = txt.count("welcome")
print(x)

1

In [40]:
txt = "hello, and welcome to my world." #Upper case the string
x = txt.upper()
print(x)

HELLO, AND WELCOME TO MY WORLD.

In [41]:
txt = "hello, and welcome to my world." #Lower case the string
x = txt.lower()
print(x)

hello, and welcome to my world.